@import '../styles/_globals.scss';

.chartOne {
    width: auto;
    height: 262px;
}

.chart-wrapper {
    display: inline-block;
    margin: 20px;
    background-color: $white;
    border: solid 1px $grey-lighter;
    vertical-align: top;
    padding: 15px;
    border-radius: 6px;

    h3 {
        color: $cerulean-light;
        font-family: $font-main;
        font-size: 14px;
    }
}